<form action="/prehistoricCreatures/<%=creatureId%>/?_method=PUT" method="POST">
    <!-- method is http verb -->
   <!-- info we need to get to do it -->
   <div>
   <label for="creatureType">Type:</label>
   <!-- sync upthe id label with input -->
   <input type="text" name="type" id="creatureType" value="<%= creature.type %> ">
</div>
<div>
     <!-- info we need to get to do it -->
     <label for="creatureName">Name:</label>
     <!-- sync upthe id label with input -->
     <input type="text" name="name" id="creatureName" value="<%= creature.name %> ">
<!-- action will be url for the post equest adding prehistoric creature -->
   <!-- when submit to post data requested -->
   <!-- attributes important and in the course notes -->
</div>
   <button type="submit">Update this Prehistoric Creature!</button>
</form>