<form action="/dinosaurs" method="get">
<label for="nameFilter">Filter by Nmae:</label>
<input type="text" name="nameFilter" id="nameFilter">
<button type="submit">Filter Results</button>
</form>

<ul>
    <% myDinos.forEach(dino => { %>
     <li><%= dino.name %> is a <%= dino.type %> </li>
    <% }) %>
</ul>